.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 8px;
    row-gap: 22px;
    padding: 20px;
    font-family: Rboto, Arial, sans-serif;
    width: 100px;
    /* border: 2px solid red; */
    
}

.video-card {
    padding: 4px;
   /* width: 600px; vertical-align: top; */
    /* border: 2px solid red; */
    
}

.thumbnail-container {
    position: relative;
}

.video-time {
    position: absolute;
    bottom: 11px;
    right: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
    font-weight: 500;
}

.video-info-grid {
   display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid green; */
}

.channel-profile-pic {
    margin-right: 2px;
    
   /* border: 1px solid black; */
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}

.pic-select {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.video-info {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* border: 2px solid red;   */
    
    
}



.video-title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.video-link {
    text-decoration: none;
    color: #000;
    /* border: 1px solid black; */
    margin-left: -140px;
    width: 200px;
    font-size: 14px;
}

.channel-name {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    color: rgb(96, 96, 96);
     margin-left: -280px;
}

.channel-link {
    text-decoration: none;
    color: inherit;
}

.video-starts {
    margin-top: 14px;
    color: rgb(96, 96, 96);
     margin-left: -280px;
}

/* .video-liink {
    font-weight: 600px;
    width: 20px;
    margin-left: -120px;

} */